.row-w-nav {
	background: $nav__background;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		display: block;
		height: 6px;
		background: #fff;
		z-index: 100;
	}
	.account-links {
		position: relative;
		a {
			margin: 0 -1px;
			transform: matrix(1,0,0,1,0,0);
		}
		.wonka-btn {
			border-radius: 0;
			padding: 24px;
		}
		i {
			position: absolute;
			font-size: 34px;
			color: #17252e;
			top: 50%;
			right: 16%;
			cursor: pointer;
			transform: translate(-50%, -50%);
		}
		form {
			position: absolute;
			display: inline-block;
			width: 96.5%;
			height: 100%;
			right: 0;
			float: right;
			label {
				margin: 0;
			}
			input[type="search"] {
				display: none;
				opacity: 0;
				left: 100%;
				width: 100%;
				position: absolute;
				top: calc(100% + 2px);
				line-height: 1.5;
				border-radius: 0;
				padding: 15px;
				@include prefix( box-shadow, 2px 6px 6px 1px rgba(0,0,0,0.5), webkit moz o );
				@include prefix( transition, all 0.2s ease-in-out, webkit moz o );
				z-index: 999;
			}
			input[type="submit"] {
				display: none;
			}
		}
	}
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	.menu-main-container {
		height: 71px;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: justify;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $nav__hover;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $header__background;
		font-family: $font__main;
		font-weight: 800;
		font-size: 24px;
		text-transform: uppercase;
		padding: 20px 25px;
		@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: inline-block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
